<ion-header>
  <ion-toolbar>
    <ion-title> TMS trainer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <p>Enter your number for Your TMS translation</p>
   <ion-list>
      <!--<ion-input placeholder="Text Input" [(ngModel)]="test" ></ion-input>-->   
    <ion-item>
      <ion-textarea placeholder="Enter a number here" (keyup)="eventHandler($event)">
      </ion-textarea>
    </ion-item>

  </ion-list>
  <p></p>
  {{test}}
  <p></p><p></p>

  <p>More info at <a target="_blank" rel="noopener" href="https://litemind.com/major-system/">https://litemind.com/major-system</a></p>
 
</ion-content>
